
.wrapper{
    margin-top: 160px;
    width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;

    .form{
        display: grid;
        row-gap: 24px;
        width: 100%;
    }
}